@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Bold.ttf")
      format("truetype");
  }

  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }
}
